@page "/users/"

<div class="UserContainer">
    <div class = "UserView">
        <div class = "Btn">
            <button @onclick="CreateUser">Create user</button>
        </div>
        <div class = "Table">
            <TableTemplate Items="users" Context="user">
            <TableHeader>
                <th>Fornavn</th>
                <th>Efternavn</th>
                <th>Email</th>
                <th>Institution</th>
                <th>Rolle</th>
            </TableHeader>
            <RowTemplate>
                <td>@user.Fornavn</td>
                <td>@user.Efternavn</td>
                <td>@user.Email</td>
                <td>@user.Institution</td>
                <td>@user.Rolle</td>
            </RowTemplate>
        </TableTemplate>
        </div>
    </div>

    <div class="UserManagement">
        @if (CurrentMode == Mode.Initial)
        {
            <h1>Test</h1>
        }
        else if (CurrentMode == Mode.Edit)
        {
            <EditUser />
        }
        else if (CurrentMode == Mode.Create)
        {
            <CreateUser />
        }
    </div>
</div>

@code
{
    @* List<string> HeaderData = new List<string>()
    {
        "Fornavn",
        "Efternavn",
        "Institution",
        "Rolle",
        " ",
    }; *@
    private List<User> users = new()
    {
        new User { Fornavn = "Simon", Efternavn = "", Institution = "", Rolle = "", },
        new User { Fornavn = "Patrick", Efternavn = "Bertelsen", Email = "test@test.dk", Institution = "Gamer", Rolle = "System admin" },
    };

    private class User
    {
        public string Fornavn { get; set; }
        public string Efternavn { get; set; }
        public string Email { get; set; }
        public string Institution {get; set; }
        public string Rolle {get; set; }
    }




    Mode CurrentMode { get; set; } = Mode.Initial;
    enum Mode
    {
        Initial,
        Edit,
        Create
    }
    
    private void CreateUser()
    {
        CurrentMode = Mode.Create;   
    }
}