@page "/users/"
@using frontend.Shared.CreateForms
@using frontend.Shared.Table
@inject AppState AppState
@inject NavigationManager NavManager

<div class="UserContainer">
    <div class="UserView">
        <div class="Btn">
            <button @onclick="CreateUser">Create user</button>
        </div>
        <div class="Table">
            <TableTemplate Items="AppState.users" Context="user">
                <TableHeader>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Institution</th>
                    <th>Role</th>
                    <th></th>
                </TableHeader>
                <RowTemplate>
                    <td>@user.Fornavn</td>
                    <td>@user.Efternavn</td>
                    <td>@user.Email</td>
                    <td>@user.Institution</td>
                    <td>@user.Rolle</td>
                    <td><a href="/users/" @onclick="editUser">Edit</a></td>
                </RowTemplate>
            </TableTemplate>
        </div>
    </div>

    <div class="UserManagement">
        @if (CurrentMode == Mode.Initial)
        {
            <h1>Test</h1>
        }
        else if (CurrentMode == Mode.Edit)
        {
            <!-- <EditUser /> -->
        }
        else if (CurrentMode == Mode.Create)
        {
            <CreateUser></CreateUser>
        }
    </div>
</div>

@code
{
    protected override void OnInitialized()
    {
        if (!AppState.Auth)
        {
            NavManager.NavigateTo("/");
        }
    }

    Mode CurrentMode { get; set; } = Mode.Initial;
    enum Mode
    {
        Initial,
        Edit,
        Create
    }

    private void CreateUser()
    {
        CurrentMode = Mode.Create;
    }

    private void editUser()
    {

    }
}