<table class = "compTable">
<thead>
    <tr>
        <th>@Column1</th>
        <th>@Column2</th>
        <th>@Column3</th>
        <th>@Column4</th>
        <th>@Column5</th>
    </tr>
</thead>
<tbody>
    <tr>
        <td>1 </td>
        <td>1</td>
        <td>asd</td>
        <td>1</td>
        <td>2</td>
    </tr>
    <tr>
        <td>1</td>
        <td>1</td>
        <td>asd</td>
        <td>1</td>
        <td>2</td>
    </tr>  
</tbody>
</table>


@code{
    [Parameter]
    public string Column1 { get; set; }
    [Parameter]
    public string Column2 { get; set; }
    [Parameter]
    public string Column3 { get; set; }
    [Parameter]
    public string Column4 { get; set; }
    [Parameter]
    public string Column5 { get; set; }



}
